body {
    background-color: #9BDCE9
    ;
}

.margin-left {
    margin-left: 1rem;
}

.card {
    margin: 1rem;
    border: solid black .25rem;
    width: 30rem;
    height: 15rem;

}

.card-thin {
    margin: 1rem;
    border: solid black .25rem;
    height: 5rem;
}

.card:hover {
    box-shadow: 2px 2px 8px 3px black;
    transition: box-shadow 0.3s ease-in-out;
}